*.class
*.log
*/build/sbt*.jar
*/target/
.metals/
target/
*.jar
spark-*-bin-*hadoop*
sparkdemoproject-3
*/__pycache__/*
project/metals.sbt
*/*.egg-info/*
.bsp/

# PyCharm/Intellij Ignores
**/.idea/*
**/venv/*
*.iml
