*.class
*.log
*/build/sbt*.jar
*/target/
.metals/
target/
*.jar
spark-*-bin-*hadoop*
sparkdemoproject-3
*/__pycache__/*
project/metals.sbt
*/*.egg-info/*
.bsp/
hadoop-*
pipelinecompare/warehouse/
pipelinecompare/metastore_db/

# PyCharm/Intellij Ignores
**/.idea/*
**/venv/*
*.iml
**/dist/*
**/__pycache__/*
.DS_Store

# Annoying macOS Ignores
**.DS_Store


# Some deps we download
hadoop-2.*.0*
# Generated in testing
spark-warehouse
metastore_db
warehouse

